body {
  background: #12448f;
  color: white;
  text-align: center;
}

/* Parent Element Container: 
images get uploaded and displayed in these squares*/
#wrapper{ 
  max-width: 600px;
  margin: 0px auto;


 
  /* display: grid;
  grid-template-columns: repeat (4, 1fr);
  grid-auto-rows: minmax(100px, 500px);
  grid-gap: 1em;
  justify-content: center;
  align-items: center;   */

  /*
  flex-flow: row wrap; is the same as flex-direction + 
    flex-wrap
  flex-direction: row; flex ittems left to right
  flex-wrap: wrap;  specifies flex items to wrap if necessary*/ /*items spaced evenly btwn each other and edges*/
  /*items are in the middle of the container*/

}

#imagesUp { 
  display: grid;
  /* grid-template-columns: repeat(4, 1fr);
  gap: 10px; */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  align-items: center;
  justify-content: center;

  /*grid auto rows*/
  /* grid-auto-rows: minmax(100px, auto); */
}

#imagesUp > img {  
  text-align: center;
  padding: 10px 0;
}

input[type=text], select, textarea {
  width: 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}  

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

button {
  background:url(./Images/SubmitButton2.jpg) no-repeat;
  width: 110px;
  height: 48px;
  cursor: pointer;
  border: 0;
  background-size: 100%; /* To fill the dimensions of container (button), or */
  /* background-size: 40px auto; to specify dimensions explicitly */
  
}

/*https://www.youtube.com/watch?v=jV8B24rSN5o*/