body {
  background: #12448f;
  color: white;
  text-align: center;
}


/* Parent Element Container: 
images get uploaded and displayed in these squares*/
#wrapper{ 
  max-width: 600px;
  margin: 0px auto;

  /*
  flex-flow: row wrap; is the same as flex-direction + 
    flex-wrap
  flex-direction: row; flex ittems left to right
  flex-wrap: wrap;  specifies flex items to wrap if necessary*/ /*items spaced evenly btwn each other and edges*/
  /*items are in the middle of the container*/

}


h2 {
  border-bottom: 1px solid white;
  margin-top: 2em;
}

/*This applies to all boxes*/
input, textarea {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-bottom: 2em;
  margin-top:8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
} 

label[for=portTitle] {
  width: 50%;
  float: left;
}

label[for=imageURL] {
  width: 50%;
  float: right;
}

label[for=descr] {
width: 50%;
float: center;
/*Lets you reseize description box without changing position on page*/
resize: inline; 
}

/*This is the grid container for items/Child*/
#image-grid { 
  display: grid;
  /* grid-template-columns: repeat(4, 1fr);
  gap: 10px; */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  align-items: center;
  justify-content: center;

  /*grid auto rows*/
  /* grid-auto-rows: minmax(100px, auto); */
}

/*This is the item/Child to put inside the grid*/
.img {  
  text-align: center;
  padding: 10px 0;
  background-size: 100%
}

/*Add feat-grid, div under Featured Portfolio*/
#feat-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px
}


/*Add feat-section, div above h2 tag for Featured Portfolio*/
#feat-section {
  /*This hides gaps and doesn't 
  display until cell clicked*/
  display: none; 
}


/*Add feat-image, div below div tag for feat-grid*/
#feat-image {
  text-align: center;
  padding: 50px 0;
}



/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */


input[type=image] {
  width: 110px;
  padding:0px;
  cursor: pointer;
  border: solid black;
  border-radius: 4px;
   background-size: 100%; /*To fill the dimensions of container (button)*/
}

/*
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/image
https://www.w3schools.com/Tags/att_input_type_image.asp
https://css-tricks.com/slightly-careful-sub-elements-clickable-things/
https://www.youtube.com/watch?v=jV8B24rSN5o*/